{
    "extends": ["google"],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": { "modules": true, "jsx": true }
    },
    "env": { "es6": true },
    "plugins": ["html", "react"],
    "rules": {
        "curly": ["error", "multi-or-nest"],
        "eqeqeq": ["error", "always"],
        "comma-dangle": ["error", "never"],
        "indent": ["error", 4],
        "keyword-spacing": ["error"],
        "one-var": ["off"],
        "space-in-parens": ["error"],
        "space-infix-ops": ["error"],
        "no-var": ["off"],
        "require-jsdoc": ["off"],
        "nonblock-statement-body-position": ["error", "below"],
        "quotes": ["error", "single", { "avoidEscape": true }],
        "object-curly-spacing": ["error", "always"],
        "react/jsx-uses-vars": ["error"]
    }
}
