version: 2

jobs:
  test:
    docker:
      - image: node:8.15.1-stretch
    working_directory: ~/hetmech-frontend
    steps:
      - checkout
      - run:
          name: Frontend tests
          command: |
            npm install
            npm test
            npm run build
      - persist_to_workspace:
          root: ~/hetmech-frontend
          paths:
            - .git
            - build

  deploy:
    docker:
      - image: node:8.15.1-stretch
    working_directory: ~/hetmech-frontend
    steps:
      - attach_workspace:
          at: ~/hetmech-frontend
      - run:
          name: Install and configure dependencies
          command: |
            npm install --global --silent gh-pages@2.0.1
            git config user.email "ci-build@circleci.com"
            git config user.name "CircleCI Deploy Job"
      - add_ssh_keys:
          fingerprints:
            - "59:f7:cc:2f:9e:bf:97:12:46:a0:16:60:a2:3b:13:2a"
      - run:
          name: Deploy build to gh-pages branch
          command: gh-pages --dist build

workflows:
  version: 2
  build:
    jobs:
      - test
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: master
