#root {
  text-align: center;
}

.table_attic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.table_attic > *:last-child {
  flex-grow: 1;
}

.table_nav_button {
  color: #606060;
}
.table_controls form svg {
  color: #808080;
}

th {
  height: 40px !important;
}