.node_results_table th:first-child,
.node_results_table td:first-child {
  padding-left: 10px;
}
.node_results_table th:first-child {
  width: 100px;
  text-align: left;
}
.node_results_table th {
  height: 25px;
}
