.text_button {
  display: inline-flex;
  align-items: center;
  background: none;
  color: #02b3e4;
  padding: 5px;
}
.text_button:hover {
  background: #e1f6fc;
}
.text_button > span {
  margin-right: 5px;
}
.checkbox_button {
  width: 15px;
  height: 15px;
  padding: 0;
}
