button {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #e1f6fc;
  color: unset;
  border: none;
  padding: 5px;
  font-size: 1em;
  user-select: none;
  transition: background 0.1s ease;
}
button:hover {
  background: #b3e8f7;
  cursor: pointer;
}
.text_button {
  display: inline-flex;
  align-items: center;
  background: none;
  color: #02b3e4;
  margin: 5px 0;
  padding: 5px 10px;
}
.text_button:hover {
  background: #e1f6fc;
}
.text_button_icon {
  margin-left: 5px;
}
.checkbox_button {
  background: #eeeeee;
  width: 15px;
  height: 15px;
  padding: 0;
}