.collapsible_section {
  margin: 20px auto;
}
.collapsible_section_button {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  color: #303030;
  border-bottom: solid 2px #e0e0e0;
}
.collapsible_section_button:hover,
.collapsible_section_button:focus {
  border-bottom-color: transparent;
}
.collapsible_section_button:before {
  content: '';
  position: absolute;
  height: 1.5px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.25);
  opacity: 1;
  transition: opacity 0.25s ease;
}
.collapsible_section_button:hover:before,
.collapsible_section_button:focus:before {
  opacity: 0;
}
.collapsible_section[data-collapsed='true'] > *:not(:first-child) {
  display: none;
}
.collapsible_section_button {
  display: flex;
  align-items: center;
}
.collapsible_section_button > div {
  flex-grow: 1;
}
.collapsible_section_button > svg {
  margin-right: 5px;
}
