.collapsible_section {
  margin: 10px auto;
}
.collapsible_section_button {
  width: 100%;
  margin: 0;
}
.collapsible_section[data-collapsed='true'] > *:not(:first-child) {
  display: none;
}
.collapsible_section_button {
  display: flex;
  align-items: center;
}
.collapsible_section_button > div {
  flex-grow: 1;
}
.collapsible_section_button > svg {
  margin-right: 5px;
}
.collapsible_section_content {
  padding: 10px;
}