.dynamic_field {
  box-sizing: border-box;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 100px;
  padding: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-break: break-word;
}
.dynamic_field[data-expanded='true'] {
  overflow-y: auto;
  white-space: normal;
}
.dynamic_field:hover {
  cursor: text;
}
