.filter_button {
  display: inline-block;
  padding: 5px;
  background: none;
  border: none;
}
.filter_button:hover {
  cursor: pointer;
  background: #eeeeee;
}
.filter_button[data-active='false'] {
  opacity: 0.25;
  filter: saturate(0.5);
  text-decoration: line-through;
}
