.metanode_chip {
  display: inline-block;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  margin-right: 5px;
  border-radius: 15px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  font-size: 16px;
}
.metanode_chip:after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: 'Work Sans';
  font-weight: 900;
}
.metanode_chip[data-metatype='Gene'] {
  background: #0096ff;
  /* background: #2196f3; */
}
.metanode_chip[data-metatype='Compound'] {
  background: #ff2600;
  /* background: #f44336; */
}
.metanode_chip[data-metatype='Anatomy'] {
  background: #008f00;
  /* background: #4caf50; */
}
.metanode_chip[data-metatype='Disease'] {
  background: #8e4f00;
  /* background: #795548; */
}
.metanode_chip[data-metatype='Symptom'] {
  background: #a5abb6;
  /* background: #607d8b; */
}
.metanode_chip[data-metatype='Side Effect'] {
  background: #fffb00;
  /* background: #00bcd4; */
}
.metanode_chip[data-metatype='Biological Process'] {
  background: #ff9300;
  /* background: #ff9800; */
}
.metanode_chip[data-metatype='Cellular Component'] {
  background: #ff9300;
  /* background: #ff9800; */
}
.metanode_chip[data-metatype='Molecular Function'] {
  background: #ff9300;
  /* background: #ff9800; */
}
.metanode_chip[data-metatype='Pathway'] {
  background: #ff9300;
  /* background: #ff9800; */
}
.metanode_chip[data-metatype='Pharmacologic Class'] {
  background: #ff85ff;
  /* background: #9c27b0; */
}
.metanode_chip[data-metatype='Gene']:after {
  content: 'G';
  left: -1px;
}
.metanode_chip[data-metatype='Compound']:after {
  content: 'C';
  left: -0.5px;
}
.metanode_chip[data-metatype='Anatomy']:after {
  content: 'A';
}
.metanode_chip[data-metatype='Disease']:after {
  content: 'D';
}
.metanode_chip[data-metatype='Symptom']:after {
  content: 'S';
  left: -0.5px;
}
.metanode_chip[data-metatype='Side Effect']:after {
  content: 'SE';
  color: #000000;
  font-size: 0.75em;
}
.metanode_chip[data-metatype='Biological Process']:after {
  content: 'BP';
  font-size: 0.75em;
}
.metanode_chip[data-metatype='Cellular Component']:after {
  content: 'CC';
  font-size: 0.75em;
  left: -0.5px;
}
.metanode_chip[data-metatype='Molecular Function']:after {
  content: 'MF';
  font-size: 0.75em;
}
.metanode_chip[data-metatype='Pathway']:after {
  content: 'PW';
  font-size: 0.7em;
}
.metanode_chip[data-metatype='Pharmacologic Class']:after {
  content: 'PC';
  font-size: 0.75em;
  left: -0.5px;
}
