.node_search_filters {
  margin-bottom: 30px;
}
.node_search_filter_button {
  margin: 0;
  font-weight: 400;
  color: #303030;
}
.node_search_filter_button_off {
  opacity: 0.25;
  filter: saturate(0.5);
  text-decoration: line-through;
}
.node_search_form {
  display: block;
  width: 100%;
  height: 40px !important;
  margin: 0 auto !important;
  text-align: left;
  position: relative;
}
.node_search_form_label {
  margin-bottom: 5px;
}
.node_search_field_container {
  width: 100% !important;
  height: 100% !important;
  position: relative;
}
.node_search_field_overlay {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px !important;
  padding-right: 35px !important;
  background: #e0e0e0;
  pointer-events: none;
}
.node_search_form_label {
  position: absolute;
  bottom: 100%;
}
.node_search_field {
  width: 100% !important;
  height: 100% !important;
  transition: background 0.25s ease;
}
.node_search_field:before {
  border-bottom-width: 0 !important;
}
.node_search_field:after {
  border-bottom-color: #00bcd4 !important;
  border-bottom-width: 2px !important;
}
.node_search_input,
.node_search_input_blank {
  padding: 10px !important;
  padding-right: 35px !important;
  color: #303030 !important;
}
.node_search_input_blank {
  overflow: hidden;
}
.node_search_icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  color: #808080;
  pointer-events: none;
}
.node_search_swap_button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 10px !important;
  padding: 0 !important;
  color: #606060;
}
.node_search_swap_button svg {
  transform: rotate(90deg);
}
.node_search_results_popper {
  width: 100% !important;
  margin-top: 10px !important;
  z-index: 10 !important;
}
.node_search_results_paper {
  max-height: calc(4 * 40px);
  overflow-y: auto;
  border-radius: 0 !important;
}
.node_search_results_item {
  height: 40px !important;
  padding: 0 10px !important;
  font-size: 16px !important;
}
.node_search_results_item_selected {
  background: #c0ecf8 !important;
}
.node_search_results_item_name {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
.node_search_results_item_count {
  margin-left: auto;
  color: #808080;
  font-size: 0.75em;
  font-weight: 500;
  width: 40px;
  min-width: 40px;
  vertical-align: middle;
}
.node_search_results_item_count svg {
  height: 25px;
  margin-right: 3px;
  vertical-align: middle;
}
