.node_search_filter_button {
  padding: 5px;
  background: none;
  border: none;
}
.node_search_filter_button:hover {
  cursor: pointer;
  background: #eeeeee;
}
.node_search_filter_button[data-active='false'] {
  opacity: 0.25;
  filter: saturate(0.5);
  text-decoration: line-through;
}
.node_search_form {
  display: block;
  width: 100%;
  height: 40px !important;
  margin: 0 auto !important;
  text-align: left;
  position: relative;
}
.node_search_form:first-of-type {
  margin-top: 40px !important;
}
.node_search_form_label {
  margin-bottom: 5px;
}
.node_search_field_container {
  width: 100% !important;
  height: 100% !important;
  position: relative;
}
.node_search_field_overlay {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: flex-start;
  align-items: center;
  padding: 10px !important;
  padding-right: 35px !important;
  pointer-events: none;
}
.node_search_form_label {
  position: absolute;
  bottom: 100%;
}
.node_search_field {
  background: #eeeeee;
  width: 100% !important;
  height: 100% !important;
  transition: background 0.25s ease;
}
.node_search_field_focused {
  background: #e0f7fa;
  transition: background 0.25s ease;
}
.node_search_field:before {
  border-bottom-width: 0 !important;
}
.node_search_field:after {
  border-bottom-color: #00bcd4 !important;
}
.node_search_input {
  padding: 10px !important;
  padding-right: 35px !important;
}
.node_search_input_blank {
  color: transparent !important;
}
.node_search_icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.25;
  pointer-events: none;
}
.node_search_swap_button {
  display: block !important;
  width: 40px;
  height: 40px;
  background: #eeeeee;
  border-radius: 20px;
  margin: 5px auto !important;
  padding: 0 !important;
}
.node_search_swap_button svg {
  transform: rotate(90deg);
}
.node_search_results_popper {
  width: 100% !important;
  margin-top: 10px !important;
  z-index: 10 !important;
}
.node_search_results_paper {
  max-height: calc(4 * 40px);
  overflow-y: auto;
  border-radius: 0 !important;
}
.node_search_results_item {
  height: 40px !important;
  padding: 0 10px !important;
  font-size: 16px !important;
}
.node_search_results_item_selected {
  background: #e1f6fc !important;
}
.node_search_results_item_name {
  font-weight: 500;
}
.node_search_results_item_identifier {
  margin-left: auto;
  font-size: 0.75em;
  color: #757575;
}
