#graph_container {
  margin-top: 5px;
  position: relative;
}
#graph {
  border: solid #e0e0e0 1px;
  position: absolute;
}
.graph_dimensions {
  margin: 0 10px;
}
.graph_expand_collapse_button {
  margin: 0 !important;
}
#graph_info_table {
  margin-top: 5px;
}
#graph_info_table td {
  height: 20px;
}
#graph_info_container {
  min-height: 160px;
}
