#graph_container {
  margin-top: 5px;
  position: relative;
}
#graph {
  border: solid #e0e0e0 1px;
  position: absolute;
}
#graph * {
  user-select: none;
}
.graph_dimensions {
  margin: 0 10px;
}
.graph_expand_collapse_button {
  margin: 0 !important;
}
