@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&text=0123456789');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,700');

* {
  font-family: 'Montserrat', 'Raleway', sans-serif !important;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 320px;
  background: #fafafa;
  color: #424242;
  font-size: 16px;
}
input {
  color: #424242 !important;
}
#root {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}
header {
  text-align: center;
  margin-bottom: 20px;
}
section {
  box-sizing: border-box;
  max-width: 640px;
  margin: 20px auto;
}
h1 {
  font-size: 30pt;
  font-weight: normal;
  letter-spacing: 5px;
  margin: 0;
}
h2 {
  font-weight: normal;
  margin: 0;
  font-size: 10pt;
  font-style: italic;
}
h3 {
  margin: 10px 0;
}
.logo {
  width: 48px;
  height: 48px;
}
a {
  color: #02b3e4;
}
a:hover {
  cursor: pointer;
}
sup {
  font-size: 0.65em;
  top: -2px;
  position: relative;
}
button {
  box-sizing: border-box;
  background: #e1f6fc;
  color: unset;
  border: none;
  padding: 5px;
  font-size: 1em;
  user-select: none;
  transition: background 0.1s ease;
}
button:hover {
  background: #b3e8f7;
  cursor: pointer;
}
.link_button {
  display: inline;
  background: none;
  color: #02b3e4;
  margin: 10px 0;
}
.link_button:hover {
  background: #e1f6fc;
}
textarea {
  font-size: 1em;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.small {
  font-size: 0.75em;
}
.light_text {
  color: #757575;
}
.divider {
  display: flex;
  flex-direction: row;
}
.divider:before,
.divider:after {
  content: '';
  flex-grow: 1;
  background: #bdbdbd;
  height: 1px;
  margin: auto;
}
.divider:before {
  margin-right: 10px;
}
.divider:after {
  margin-left: 10px;
}
.table_container {
  box-sizing: border-box;
  overflow-x: auto;
}
@media screen and (min-width: 680px) {
  .table_container[data-expanded='true'] {
    width: 1050px;
    max-width: calc(100vw - 20px - 20px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
td {
  box-sizing: border-box;
  padding: 0;
  height: 30px;
}
td > * {
  vertical-align: middle;
}
.col_s {
  width: 75px;
}
.col_m {
  width: 100px;
}
.col_l {
  width: 200px;
}
.col_xl {
  width: 450px;
}
