.tooltip {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  max-width: 320px;
  min-height: 30px;
  padding: 5px;
  background: #000000;
  color: #fafafa;
  font-size: 0.75em;
  transform: translate(0, -125%);
  user-select: none;
  pointer-events: none;
  transition: opacity 1s ease;
}
.tooltip_hitbox {
  z-index: 99999;
}
@media (hover: none) {
  .tooltip {
    display: none;
  }
}
